/* In this file will go the bootstrap CSS rules but adapted by us  */

body{
    min-height: 100vh;
    overflow-x: hidden;
}

._m10{
    margin: 10px;
}

._mt10{
	margin-top:10px;
}
._ml10{
    margin-left:10px;
}

a, a:hover, a:visited{
    color: white;
    font-weight: bold;
}

ul{
    list-style-type:none;
}

li{
    color: white;

}

p{
    font-weight: bold;
}

._list-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2rem; /* Stava a 1.5rem */
    margin-top:1rem;
    margin-right: 10px;
}

._footer{
    position: sticky;
    top: 100%;
}

li a, li a:hover, li a:visited{
    text-decoration: none;
    color: #DDD;
}


._BheaderSize{
    font-size: 20px;
}

._li_info{
    text-align: center;
}

._divAccedi{
    background-color: white;
    border-radius: 40px;
    border: 1px solid #e3e3e3;
}

._border-radius{
    border-radius: 40px;
}

._bg-footer{
    background-color: white;
}

._form-control-reg{
    display: inline-block;
}

._mb5{
    margin-bottom: 5%;
}

._button-fz{
    font-size: 1.7rem;
}

._ds-none{
    display: none;
}


._sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

#coprente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 30; /* o cmq il numero più alto tra quelli degli altri z-index presenti */
}

#_bMenu,#_closeSB:hover{
    background-color:#637377; /*Da modificare come meglio pensiamo */
}
#_sidebar{  /*Anche questo da modificare */
    border: 6px solid #525252;
    background-color: #D5D3D3;
    border-radius: 5px;
}
