/* In this file will go the bootstrap CSS rules but adapted by us  */

body{
    min-height: 100vh;
}

._m10{
    margin: 10px;
}

a, a:hover, a:visited{
    color: white;
    font-weight: bold;
}

ul{
    list-style-type:none;
}

li{
    color: white;

}

p{
    font-weight: bold;
}

._list-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1.5rem;
    margin-top:1rem;
    margin-right: 10px;
}

._footer{
    position: sticky;
    top: 100%;
}

li a, li a:hover, li a:visited{
    text-decoration: none;
    color: #DDD;
}



._accedi-form{
    margin: 15px;
    width: 90%;
}


._fEmail{
    margin-top: 8%;
    margin-bottom: 3%;
}

._fEmail, ._fPassw{
    padding: 14px 16px;
    font-size: 17px;

}

._bAccedi{
    margin-top: 4%;
    height: 3em;
    width: 50%;
}

._bCreaAcc{
    margin-top: 1%;
    width: 50%;
    height: 3em;
}

input[type=email], input[type=password]{
    font-size: 1.2em;
}

._re-size{
    height: auto;
    width: 30%;
}

@media (min-width: 576px) {
    ._re-size{
        width: 32%;
    }
}

@media (min-width: 768px) {
    ._re-size{
        width: 32%;
    }
}

@media (min-width: 992px) {
    ._re-size{
        width: 25%;
    }
}

@media (min-width: 1200px) {
    ._re-size{
        width: 13%;
    }
    ._bAccedi{
        width: 8em;
    }
}

@media (min-width: 2560px) {
    ._re-size{
        width: 15%;
    }
}

