/* In this file will go the bootstrap CSS rules but adapted by us  */

body{
    min-height: 100vh;
}

._m10{
    margin: 10px;
}

a, a:hover, a:visited{
    color: white;
    font-weight: bold;
}

ul{
    list-style-type:none;
}

li{
    color: white;

}

p{
    font-weight: bold;
}

._list-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1.5rem;
    margin-top:1rem;
}

._footer{
    position: sticky;
    top: 100%;
}

li a, li a:hover, li a:visited{
    text-decoration: none;
    color: #DDD;
}


._re-size{
    height: auto;
    width: 30%;

}

@media (min-width: 576px) {
    ._re-size{
        width: 32%;
    }
}

@media (min-width: 768px) {
    ._re-size{
        width: 32%;
    }
}

@media (min-width: 992px) {
    ._re-size{
        width: 25%;
    }
}

@media (min-width: 1200px) {
    ._re-size{
        width: 13%;
    }
}

@media (min-width: 2560px) {
    ._re-size{
        width: 15%;

    }
}
