
@media (max-width: 766px) {

}

@media (min-width: 768px) {

    #_Accedi{
        width: 40%;
    }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

    ._bAccedi{
        width: 8em;
    }
}

@media (min-width: 2560px) {

}


@media (max-width: 768px) {
    #_Accedi{
        width: 90%;
    }
}



