{% extends 'base2.html' %}
{% block title %}
<title>NotMiss: Contatti</title>
{% endblock %}
{% block main %}
<div class="container mt-5 mb-5 col-12" id="padre">
  <div class="row" id="padre_login">
    <!-- Login -->
    <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center _divAccedi fadeIn2" id="login">
      <h1 style="margin-top: 20px;" class="text-center text-black-50">Contattaci</h1>
      <form>
        <label for="_email"></label>
        <input type="email" class="form-control" id="_email" placeholder="Inserisci la tua email" autocomplete="on" autofocus /> <br />
        <label for="_oggetto"></label>
        <input type="text" class="form-control" id="_oggetto" placeholder="Oggetto" /> <br />
        <label for="_corpo"></label>
        <h4 class="text-center text-black-50">Messaggio</h4>
        <textarea class="form-control" id="_corpo" placeholder="Descrivi il motivo per cui ci stai contattando (Max. 500 caratteri)" maxlength="500" rows="3"></textarea>
        <label for="_invioEmail"></label>
        <button type="button" class="btn btn btn-dark _m10 _border-radius" id="_invioEmail">Invia</button> <br/>
      </form>
    </div>
    <!-- Fine login  -->
  </div>
</div>

<input type="button" id="test">

{% endblock %}


{% block localJS %}
<script src="../static/Javascript/contatti.js"></script>
{% endblock %}
