{% extends 'base2.html' %}
{% block title %}
<title>NotMiss: Contatti</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block main %}


<div class="container mt-5 mb-5 col-12" id="padre">
  <div class="row" id="padre_login">
    <!-- Login -->
    <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center _divAccedi fadeIn2" id="login">
      <h1 style="margin-top: 20px;" class="text-center text-black-50">Contattaci</h1>
      <form id="_contattaci" action="/contatti" method="POST">
        <label for="_email"></label>
        <input type="email" class="form-control" name="_email" id="_email" placeholder="Inserisci la tua email" autocomplete="on" autofocus /> <br />
        <label for="_oggetto"></label>
        <input type="text" class="form-control" name="_oggetto" id="_oggetto" placeholder="Oggetto" /> <br />
        <label for="_corpo"></label>
        <h4 class="text-center text-black-50">Messaggio</h4>
        <textarea class="form-control" name="_corpo" id="_corpo" placeholder="Descrivi il motivo per cui ci stai contattando (Max. 500 caratteri)" maxlength="500" rows="3"></textarea>
        <label for="_invioEmail"></label>
        <button type="submit" class="btn btn btn-dark _m10 _border-radius" id="_invioEmail">Invia</button> <br/>
      </form>
    </div>
    <!-- Fine login  -->
  </div>
</div>
 <!-- map --> <div id="mapid" style="height: 280px"></div>
<script>
  $(document).ready(function(){
        let mymap = L.map('mapid').setView([40.856725, 14.284556], 18);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);
      let marker = L.marker([40.856725, 14.284556], {draggable:false}).addTo(mymap).on("dragend",function (e){
            marker.on("click", function (e) {
                let range = L.circle(e.latlng,100).addTo(mymap)
            })

        });
    //let marker = L.marker([40.856725, 14.284556]).addTo(mymap);
            let popup= marker.bindPopup("<b>NotMiss</b><br>Siamo qui!").openPopup();
            popup.openPopup();
        });
</script>

{% endblock %}


{% block localJS %}
<script src="../static/Javascript/contatti.js"></script>
{% endblock %}
