{% extends 'base.html' %}
{% block title %}
<title>NotMiss</title>
{% endblock %}
{% block main %}
<div class="container">
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>
    <p>Contenuto qui</p>

    <!-- Fine CONTENUTO -->
</div>
{% endblock %}

{% block localJS %}
<script src="../static/Javascript/index.js"></script>
{% endblock %}
